Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb

Aligning response message strucutre
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding a windows debug file
  flask_webapp/app_win_debug.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

made changes to bluetooth section to incorperate two rows
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

adding a flag to dependency.sh file to alternate b/n CI and dev environment.
  install_dependencies.sh
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding ci flag
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding windows debug app.py file
  flask_webapp/app_win_debug.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

pulled to match branch and update PID controller example.
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
  arduino_pid_controller/examples/servoCtrl_example/servoCtrl_example.ino
  flask_webapp/models/log_data.py
  flask_webapp/models/pid_app.db
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb, @fsjames

PID controller function is working for (P) for the PID. Still testing
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
Owners: @Injoh, @NerdboyQ

corrected PID_D equation and testing w/ PID_P & PID_D values works
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
Owners: @Injoh, @NerdboyQ

git cheatsheet
  docs/Git-Cheatsheet.pdf
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Initial work for getting the mock object work done
  flask_webapp/Pipfile
  flask_webapp/requirements.txt
  flask_webapp/src/device.py
  flask_webapp/tests/test_device.py
  flask_webapp/tests/test_messages.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

updated pipenv lock file and cleaned up __del__ api
  flask_webapp/Pipfile.lock
  flask_webapp/src/device.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Testing ssh key
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

testing ssh keys
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Unit test for failing and succesful connection apis done
  flask_webapp/src/device.py
  flask_webapp/tests/conftest.py
  flask_webapp/tests/test_device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Updating job name
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Add sqlite DB to store and retrieve connected devices. Minimal implementation
  flask_webapp/.gitignore
  flask_webapp/models/__init__.py
  flask_webapp/models/__init__0.py
  flask_webapp/models/log_devices.py
  flask_webapp/win_app.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding more unit testing for device class.
  flask_webapp/src/device.py
  flask_webapp/tests/test_device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding disconnect API in device classes and cleaning up app.py
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

servo pin changed from pin 6 -> pin 5 & BLE enabled.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

added test condition for all 8 zero bytes as an option for both nonBle and Ble devices.
  flask_webapp/tests/test_bleConnectAndSend.py
  flask_webapp/tests/test_nonBleConnectAndSend.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

added functional testing suite
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/img/no_video_icon.png
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb, @Injoh, @jmpichar, @NerdboyQ

sharpIR sensor example added as a reference. This uses the sharpIR library.
  arduino_pid_controller/examples/SharpIRSensor_example/SharpIRSensor_example.ino
Owners: @Injoh, @NerdboyQ

updated sharpIR sensor instantiation to match the specific library version.
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
Owners: @Injoh, @NerdboyQ

Updating unit tests to handle disconnect and is_connected apis
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/tests/conftest.py
  flask_webapp/tests/test_device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updated code for easier testing.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  arduino_pid_controller/examples/SharpIRSensor_example/SharpIRSensor_example.ino
Owners: @Injoh, @NerdboyQ

adjusted example for basic sensor reading test.
  arduino_pid_controller/examples/SharpIRSensor_example/SharpIRSensor_example.ino
Owners: @Injoh, @NerdboyQ

added functionality to eventually calculate upper and lower limits for the PID output.
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
Owners: @Injoh, @NerdboyQ

working PID controller example code with latest setup. Ready for testing.
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
Owners: @Injoh, @NerdboyQ

communication test code servo sanity check servo writing commented out. New ranges need to be created based on the new setup.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

added file for testing camera bug fixes and got latest files from the master branch.
  flask_webapp/.gitignore
  flask_webapp/Pipfile
  flask_webapp/Pipfile.lock
  flask_webapp/app_camBugFix.py
  flask_webapp/app_win_debug.py
  flask_webapp/pathfinding/bleConnectAndSend.py
  flask_webapp/pathfinding/btScanForDevices.py
  flask_webapp/pathfinding/nonBleConnectAndSend.py
  flask_webapp/pathfinding/nonBlePairing.py
  flask_webapp/pathfinding/opencv.py
  flask_webapp/pathfinding/web_feed.py
  flask_webapp/requirements.txt
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
  flask_webapp/tests/__init__.py
  flask_webapp/tests/conftest.py
  flask_webapp/tests/test_device.py
  flask_webapp/tests/test_messages.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

system delay by camera bug fixed.
  flask_webapp/app_camBugFix.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

synced local branches w/ latest master branch release
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/img/no_video_icon.png
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
  flask_webapp/tests/conftest.py
  flask_webapp/tests/test_device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames, @Injoh

updated latest webapp w/ camera bug fix
  flask_webapp/app.py
  flask_webapp/camera.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

previously_paired back-end api initial debug work
  flask_webapp/app_win_debug.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

removing index_new.html
  flask_webapp/app.py
  flask_webapp/app_win_debug.py
  flask_webapp/templates/index.html
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Added models and resources file structure
  flask_webapp/.gitignore
  flask_webapp/app.py
  flask_webapp/app_win_debug.py
  flask_webapp/db.py
  flask_webapp/models/__init__.py
  flask_webapp/models/camera.py
  flask_webapp/models/device.py
  flask_webapp/models/log_data.py
  flask_webapp/models/pid_app.db
  flask_webapp/models/quote.py
  flask_webapp/models/scan_device.py
  flask_webapp/resources/camera.py
  flask_webapp/resources/device.py
  flask_webapp/resources/hello.py
  flask_webapp/resources/quote.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb
