Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Initial back-end and js work for identifying selected devices and doing POST requests
  flask_webapp/app.py
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Cleaned up connection code with boarder color changes and back-end cleanup
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Initial work for handling read/write for ble
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

cleaned up the connect and disconnect api. Still have to build the disconnect api in container
  flask_webapp/__init__.py
  flask_webapp/src/__init__.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding flask api for disconnect and container remove api
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

adding unions for message payload handling
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding tweaks to make message payload transfer work
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Changing command byte value
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding read command for ble device
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updated index.html
  flask_webapp/static/css/IOT_project.css
  flask_webapp/templates/index.html
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb

Added code to support video feed
  flask_webapp/app.py
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Added code to support video feed
  flask_webapp/camera.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

bug fix for read
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

setting respect message payload to 8 bytes
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Increased size of video image
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb

Importing Response from flask
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

fixing message structures to 8 bytes
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Debug to get read working
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Fixed one bug exposed another :)
  flask_webapp/src/device.py
  flask_webapp/src/device_delegate.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Additional plumbing for sending read/write commands
  flask_webapp/app.py
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding preset values for message payload
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

cleaning up return payload structure
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding regular bluetooth device object
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding message payload instantiation for unions and aligning to spec on message payload naming.
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Updating branch
  flask_webapp/app.py
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

minor tweaks for handling printing message payloads
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

uncommenting changes to make app.py work
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

adding self._dev in ble device initalizer
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

adjusted camera settings
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

flipped camera view
  flask_webapp/camera.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updating to remove potential merge conflicts
  flask_webapp/src/tester.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

added flask_sqlalchemy library
  flask_webapp/requirements.txt
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

added swp files to ignore. Generated when tested db storage
  .gitignore
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

added new SQLAlchemy test lines
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

adding db for testing
  flask_webapp/PID.db
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding pytests framework
  flask_webapp/src/messages.py
  flask_webapp/tests/nonBlePairing.py
  flask_webapp/tests/test_bleConnectAndSend.py
  flask_webapp/tests/test_btScanForDevices.py
  flask_webapp/tests/test_nonBleConnectAndSend.py
  flask_webapp/tests/test_opencv.py
  flask_webapp/tests/test_web_feed.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding folders for integrating circleci
  circleci/config.yml
  flask_webapp/pathfinding/bleConnectAndSend.py
  flask_webapp/pathfinding/btScanForDevices.py
  flask_webapp/pathfinding/nonBleConnectAndSend.py
  flask_webapp/pathfinding/nonBlePairing.py
  flask_webapp/pathfinding/opencv.py
  flask_webapp/pathfinding/web_feed.py
  flask_webapp/tests/__init__.py
  flask_webapp/tests/conftest.py
  flask_webapp/tests/test_messages.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding a new git ignore
  flask_webapp/.gitignore
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding additional info for gitignore and some additional content for requirements.txt for pytest
  flask_webapp/.gitignore
  flask_webapp/requirements.txt
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Initial commit to configure circle-ci
  .circleci/config.yml
  circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb
