Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

commented out pbd import, this module was not found
  flask_webapp/resources/resource_manager_linux.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

includes changes to support returning completionTime & correct status byte assignment in response payload
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

matching master version
  flask_webapp/resources/resource_manager_linux.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

changed ord->int to fix PID command bug
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

added default for the PID command fields.
  flask_webapp/templates/index.html
Owners: @fsjames, @adonaygyb

switched ord to int for nonBle devices
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updated to remove over use of print lines and certain variable assignments in the PID code.
  arduino_pid_controller/code/btCommunication/PID_Controller.cpp
  arduino_pid_controller/code/btCommunication/PID_Controller.h
Owners: @Injoh, @NerdboyQ

removed value assignments of non-constant variables & removed test print lines from PID control method.
  arduino_pid_controller/code/btCommunication/PID_Controller.cpp
  arduino_pid_controller/code/btCommunication/PID_Controller.h
Owners: @Injoh, @NerdboyQ

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb
