Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb

Adding initial work to create a bluetooth device container for back-end work
  .gitignore
  flask_webapp/app.py
  flask_webapp/device/device_list.py
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Updated requirements.txt
  flask_webapp/requirements.txt
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Message structures and device container classes constructed
  flask_webapp/device/device_list.py
  flask_webapp/src/device_list.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

BT Ble device class 60% done and device list 70% done.
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
  flask_webapp/src/init.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

new arduino test code and bt comm changes for testing [WIP]
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
  flask_webapp/tests/test_bleConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb

small bug fix
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

api name changes and import statement bug fixes
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

replacing active dev list return type to list instead of dict_keys
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

get_device api for obtaining a device by name.
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updated html,css and js files
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/img/IOT_background.jpg
  flask_webapp/static/img/PID-control_illustration.jpg
  flask_webapp/static/img/arduino_icon_transparent.jpg
  flask_webapp/static/img/pic1.png
  flask_webapp/static/img/pid_controller_equation.png
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb, @Injoh, @jmpichar, @NerdboyQ

Added timer functions to original file
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
Owners: @Injoh, @NerdboyQ

new Bluetooth (ble) message code to accommodate 8 byte array messages.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  arduino_pid_controller/examples/HM10_CommandMode/HM10_CommandMode.ino
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
  flask_webapp/tests/test_bleConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb

updated html,css and js files
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/img/IOT_background.jpg
  flask_webapp/static/img/PID-control_illustration.jpg
  flask_webapp/static/img/arduino_icon_transparent.jpg
  flask_webapp/static/img/pic1.png
  flask_webapp/static/img/pid_controller_equation.png
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
  flask_webapp/templates/index_new.html
Owners: @fsjames, @adonaygyb, @Injoh, @jmpichar, @NerdboyQ

Adding file
  arduino_pid_controller/examples/.DS_Store
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

test
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
Owners: @Injoh, @NerdboyQ

Merge conflict change
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
Owners: @Injoh, @NerdboyQ

Update ultrasonicSensor_example.ino
  arduino_pid_controller/examples/ultrasonicSensor_example/ultrasonicSensor_example.ino
Owners: @Injoh, @NerdboyQ

import error fixed in app.py and devices.py. Additionally, displaying the new html code as the frontend.
  flask_webapp/app.py
  flask_webapp/init.py
  flask_webapp/src/.device.py.swp
  flask_webapp/src/device.py
  flask_webapp/src/init.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames, @Injoh

corrected home link in html
  flask_webapp/app.py
  flask_webapp/src/.device.py.swp
  flask_webapp/src/.device_list.py.swp
  flask_webapp/src/device_list.py
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames, @Injoh

starting on custom BT_CommunicationStandard Library
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.cpp
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

new library structures added to class header
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.cpp
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/src/.device_list.py.swp
Owners: @Injoh, @NerdboyQ, @fsjames, @jmpichar, @adonaygyb

adding install bas script
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  install_dependencies.sh
Owners: @Injoh, @NerdboyQ, @fsjames, @jmpichar, @adonaygyb

added sanity test for servo messages
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

added placeholders for all sanity checks
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

ble send & receive functionality working
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/tests/.test_bleConnectAndSend.py.swp
  flask_webapp/tests/test_bleConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @fsjames, @jmpichar, @adonaygyb

structs changed to unions to decrease overall lines of code and memory usage.
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.cpp
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/tests/.test_bleConnectAndSend.py.swp
Owners: @Injoh, @NerdboyQ, @fsjames, @jmpichar, @adonaygyb

pairing script for non-ble devices
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/tests/bluetoothctl.py
  flask_webapp/tests/bluezutils.py
  flask_webapp/tests/simple-agent
  flask_webapp/tests/test_OgBtConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb, @fsjames

Fixed message data structures bug and added union implementations
  flask_webapp/src/__init__.py
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

bluetooth ble & non-ble send functions working and being received by the arduino successfully.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/tests/test_bleConnectAndSend.py
  flask_webapp/tests/test_btScanForDevices.py
  flask_webapp/tests/test_nonBleConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb

send & receive working for ble & non-ble for both arduino & raspberry pi.
  flask_webapp/tests/bluezutils.py
  flask_webapp/tests/nonBlePairing.py
  flask_webapp/tests/simple-agent
  flask_webapp/tests/test_OgBtConnectAndSend.py
  flask_webapp/tests/test_nonBleConnectAndSend.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames, @Injoh

force reponse read after 8 bytes added to avoid incorrect response message.
  flask_webapp/tests/test_nonBleConnectAndSend.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

fixed cached/old response error.
  arduino_pid_controller/code/btCommunication/btCommunication.ino
  flask_webapp/tests/test_nonBleConnectAndSend.py
Owners: @Injoh, @NerdboyQ, @jmpichar, @adonaygyb

Adding the ability to return a scanned device list name to a reactive list
  flask_webapp/app.py
  flask_webapp/templates/index_new_scan.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Adding bug fixes for scan back-end
  flask_webapp/app.py
  flask_webapp/init.py
  flask_webapp/src/__init__.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
  flask_webapp/src/init.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

bug fix for parent directory init file
  flask_webapp/src/__init__.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding init file in the top layer of the folder structure to make src and other folders python modules
  flask_webapp/__init__.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding changes for reactive scan dev row display
  flask_webapp/app.py
  flask_webapp/static/js/d3.min.js
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
  flask_webapp/templates/index_new_scan.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Adding drop down menu open/close functionality
  flask_webapp/app.py
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index_new.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

uncommenting code for pi testing
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Forgot to uncomment code
  flask_webapp/app.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb
