Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding pipenv lock file
  flask_webapp/Pipfile.lock
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update test_messages.py
  flask_webapp/tests/test_messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update test_messages.py
  flask_webapp/tests/test_messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Delete dependency.txt
  flask_webapp/dependency.txt
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Leveraging re-usable executar containers
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update config.yml
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

adding configuration bug
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Making minor changes to make configuration work
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Making minor changes to make configuration work
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Making minor changes to make configuration work
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Making minor changes to make configuration work
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Configuration bug fix
  .circleci/config.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Delete c-cpp.yml
  .github/workflows/c-cpp.yml
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Update README.md
  README.md
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

removing tester file
  flask_webapp/src/tester.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

new examples for testing PID controller testing.
  arduino_pid_controller/examples/PIDcontroller_example/PIDcontroller_example.ino
  arduino_pid_controller/examples/SharpIR_Sensor_example/SharpIR_Sensor_example.ino
Owners: @Injoh, @NerdboyQ
