Repository NIAGroup/2020_Arduino_Pi_IOT_Project, changes with the owners that CODEOWNERS names for each.
All owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

Adding debug level support for functional testing
  flask_webapp/app_win_debug.py
  flask_webapp/static/js/function_test_list.js
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Updated database code to save connected devices
  flask_webapp/app.py
  flask_webapp/camera.py
  flask_webapp/models/camera.py
  flask_webapp/resources/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

updated BT connection previously paired section
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @fsjames, @adonaygyb

uncommented /connect /disconnect code
  flask_webapp/models/camera.py
  flask_webapp/resources/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Deleted resources/camera.py
  flask_webapp/resources/camera.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Fixed typo
  flask_webapp/resources/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Fixed typo
  flask_webapp/resources/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

small tweaks for handling connected devices
  flask_webapp/app.py
  flask_webapp/src/device.py
  flask_webapp/src/device_list.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Adding a modified windows debug feature with few addition status codes and resolved edge conditions
  flask_webapp/app.py
  flask_webapp/resources/resource_manager.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/src/device_container.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

code clean-up for better back-end and db model integration.
  flask_webapp/Pipfile
  flask_webapp/app.py
  flask_webapp/models/__init__.py
  flask_webapp/models/device_db_model.py
  flask_webapp/requirements.txt
  flask_webapp/resources/resource_manager.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/src/device_container.py
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

js work to make new back-end architecture work with the front-end pt 1 of many
  flask_webapp/app.py
  flask_webapp/models/device_db_model.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/css/menu_list.css
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Adding small progress and repo cleanup
  flask_webapp/app_win_debug.py
  flask_webapp/db.py
  flask_webapp/resources/resource_manager.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Adding additional apis for connect/disconnect functionality
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/js/menu_list.js
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Connection and scan complete
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/js/menu_list.js
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

function test windows done
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/js/d3.min.js
  flask_webapp/static/js/function_test_list.js
  flask_webapp/static/js/menu_list.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Initial work for PID read/write implementation.
  flask_webapp/app.py
  flask_webapp/static/css/device_list.css
  flask_webapp/static/js/device_list.js
  flask_webapp/static/js/function_test_list.js
  flask_webapp/static/js/pid.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

js work 90% done. Backend integration with container left.
  flask_webapp/app.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/src/camera.py
  flask_webapp/src/messages.py
  flask_webapp/static/js/function_test_list.js
  flask_webapp/static/js/pid.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Integrating front-end work with back end container for linux
  flask_webapp/app.py
  flask_webapp/models/device_db_model.py
  flask_webapp/resources/resource_manager.py
  flask_webapp/resources/resource_manager_linux.py
  flask_webapp/src/device.py
  flask_webapp/src/device_container.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Populating output table dynamically
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/static/js/pid.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

minor tweak to improve visibility on print
  flask_webapp/resources/resource_manager_linux.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

fixed coonnection error when using UI for bt connection.
  flask_webapp/src/device_container.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

removing pdb lines
  flask_webapp/src/device_container.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Bug fix inside dev_container
  flask_webapp/src/device_container.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

Commenting is_connected() for BLE until a viable way is figured out
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

hiding gap for video funciton testing
  flask_webapp/resources/resource_manager_linux.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

adding completion time return value in ble, bug-fix
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

bugfix- int converstion of kwargs
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

bug fixes - setting command value
  flask_webapp/src/device_delegate.py
  flask_webapp/src/messages.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

syncing latest changes from master to current branch
  flask_webapp/.gitignore
  flask_webapp/Pipfile
  flask_webapp/app.py
  flask_webapp/models/__init__.py
  flask_webapp/models/device_db_model.py
  flask_webapp/requirements.txt
  flask_webapp/resources/__init__.py
  flask_webapp/resources/resource_manager_linux.py
  flask_webapp/resources/resource_manager_win_debug.py
  flask_webapp/src/camera.py
  flask_webapp/src/device.py
  flask_webapp/src/device_container.py
  flask_webapp/src/device_delegate.py
  flask_webapp/src/messages.py
  flask_webapp/static/css/IOT_project.css
  flask_webapp/static/css/device_list.css
  flask_webapp/static/js/device_list.js
  flask_webapp/static/js/function_test_list.js
  flask_webapp/static/js/pid.js
  flask_webapp/templates/index.html
Owners: @fsjames, @Injoh, @jmpichar, @NerdboyQ, @adonaygyb

updated code to include error handling for invalid servo sanity check commands and a red LED error indicator.
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.cpp
  arduino_pid_controller/code/btCommunication/BT_Communication_Standard.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

added custom PID controller library and call when the correct bt message is received. Error handling is still needed. [WIP]
  arduino_pid_controller/code/btCommunication/PID_Controller.cpp
  arduino_pid_controller/code/btCommunication/PID_Controller.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

added documentation
  arduino_pid_controller/code/btCommunication/PID_Controller.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

Changes to make the message structures and function tests aligned with arduino
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
  flask_webapp/static/js/function_test_list.js
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

updated to test sending PID commands
  flask_webapp/pathfinding/bleConnectAndSend.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

PID bluetooth request reading is functional
  arduino_pid_controller/code/btCommunication/PID_Controller.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

latest changes to pid controller ready for validation.
  arduino_pid_controller/code/btCommunication/PID_Controller.h
  arduino_pid_controller/code/btCommunication/btCommunication.ino
Owners: @Injoh, @NerdboyQ

Adding changes to make it work with arduino arch
  flask_webapp/resources/resource_manager_linux.py
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
  flask_webapp/static/js/function_test_list.js
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

Converting kwargs to int type before setting them to their respective message fields
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

removed video feed test
  flask_webapp/resources/resource_manager_linux.py
  flask_webapp/src/device.py
  flask_webapp/src/messages.py
  flask_webapp/static/js/function_test_list.js
  flask_webapp/templates/index.html
Owners: @jmpichar, @NerdboyQ, @adonaygyb, @fsjames

patch added to catch failing setattr call with bad input data; float being read as string.
  flask_webapp/src/device.py
Owners: @jmpichar, @NerdboyQ, @adonaygyb

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @fsjames @Injoh @jmpichar @NerdboyQ @adonaygyb

# Arduino code reviewers (C, C++)
*.c     @Injoh @NerdboyQ
*.cpp   @Injoh @NerdboyQ
*.h     @Injoh @NerdboyQ
*.ino   @Injoh @NerdboyQ

# Flask back end reviewers (py)
*.py    @jmpichar @NerdboyQ @adonaygyb

# Web-UI front-end reviewers(css, js, html)
*.html  @fsjames @adonaygyb
*.js   @fsjames @adonaygyb
*.css   @fsjames @adonaygyb
